<html>
    <head></head>
    <body>
            {% if app.session.flashBag.has('success') %}
                <div class="alert alert-success">
                    {% for msg in app.session.flashBag.get('success') %}
                        {{ msg }}
                    {% endfor %}
                </div>
            {% endif %}
            <div>
                <ul>
                    <li>
                        Total Balance: {{ currentPlayer.calculateTotalValue() }} EUR
                    </li>
                    <li>
                        Real Money: {{ currentPlayer.getRealMoneyValue() }} EUR
                    </li>

                    {% for wallet in currentPlayer.getActiveBonusWallets() %}
                        <li>
                            {{ wallet.getBonus().getName() }}: {{ wallet.getFormattedCurrentValue() }} EUR (Cash-in Wagering Requirement: {{ wallet.getFormattedWageredRequiredAmount() }}, wagered: {{ wallet.getFormattedWageredAmount() }})
                        </li>
                    {% endfor %}

                </ul>
            </div>

            {{ form(playerChangeForm) }}

            {{ form(depositForm) }}

            {{ form(loginForm) }}

            {{ form(gamePlayForm) }}
    </body>
</html>